@import "tailwindcss";

:root {
  --font-ibm-plex-mono: 'IBM Plex Mono', monospace;
}

.font-mono {
  font-family: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} 